
    body{
        max-width: 450px;
        margin: 0 auto;
        padding: 0 1em;
        font-family: 'Segoe UI', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -49%);
    }

    select#selector {
        width: 400mm;
    }

   input[type=submit]{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-49%, 40%);
    }



    